.contact_container {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center; /* Força todos os filhos a se alinharem no centro */
}

.contact_container h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.contact_container p {
  margin-bottom: 2em;
  color: #555;
  text-align: center;
}

.contact_list {
  list-style: none;
  padding: 0;
  /* Não precisa ser flex, pois o pai já está centralizando */
}

.contact_list li {
  display: flex;
  align-items: center;
  gap: 0.8em;
  font-size: 1.2em;
  margin-bottom: 1em; /* Adicionado um espaçamento melhor */
}

.contact_list svg {
  color: #ffbb33;
  font-size: 1.5em;
}